/* reescribir variables de bootstrap (siempre antes del import) */

$rojo: #f34f51;
$verde: #0098ae;
$oscuro: #212121;
$gris: #b5b5b5;

/* asignar paleta de colores a bootstrap */

$primary: $rojo;
$secondary: $verde;
$dark: $oscuro;

/* tipografia */

$display-font-weight: 900;
$headings-font-weight: 700;

/* border-card */

$card-border-color: transparent;

/* nav link */

$nav-link-color: $gris;
$nav-link-hover-color: darken($gris, 10%);

/* importar bootstrap */

@import '../../node_modules/bootstrap/scss/bootstrap.scss';